<!DOCTYPE html>
<html>
	<head>
		<title>Nova DSA Assignment</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css"   href="/css/style.css">
		<script src="https://kit.fontawesome.com/1b1876594c.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<div class="d-flex" id="wrapper">
		<!-- Sidebar -->
    	<div class="bg-dark text-white border-right" id="sidebar-wrapper">
      	<div class="sidebar-heading">NOVA DSA </div>
      	<div class="list-group list-group-flush">
        	<a href="/dashboard" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
        	<a href="/project" class="list-group-item list-group-item-action bg-dark text-white">Projects</a>
				</div>
    	</div>
    
    <!-- Page Content -->
    	<div id="page-content-wrapper">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white border-bottom">
      		<form class="form-inline">
    			 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    				<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
  				</form>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          	<span class="navbar-toggler-icon"></span>
        	</button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          	<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            	<li class="nav-item active">
            		<a class="nav-link" href="/logout">Logout</a>
            	</li>
          	</ul>
          </div>
      	</nav>
        <div class="container-fluid">
        	<div class="container">
			      <div class="row">
              <form action='project' method='post' encType="multipart/form-data">
                <div class="form-group">
                  <label for="exampleFormControlFile1">Upload Project File</label>
                  <input type="file" name="file" id="exampleFormControlFile1" />
                </div>
                <div class="form-group">
                  <input class="btn btn-primary" type='submit' value='Upload!'onsubmit="setTimeout(function () { window.location.reload(); }, 1)" />
                </div>
              </form> 
            </div>
      	 </div>
          <br>
          <div class="container">
            <div class="row">
              <h1 class="lead">Project Data</h1>
               <div id="table" class="table-responsive table-editable">
                <table  class="table table-striped table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Body</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% projects.forEach(project => { %>
                    <tr>
                      <td><%= project.rate %> </td>
                      <td><%= project.ID %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                  </table>
                  </div>
                </div>
              </div>
            <div>
    		</div>
		</div>
</body>
</html>
















